# Builds
**/dist/**
**/node_modules/**

# Cache
**/.eslintcache

# Environment
**/environments/.env.*.local

# Git
**/.gitkeep

# Package Managers
**package-lock.json**
**pnpm-lock.yaml**

# Vitest
**/vitest/coverage/**
**/vitest/reports/**
**/vitest/videos/**
